[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/products"
  to = "/.netlify/functions/products"
  status = 200

[[redirects]]
  from = "/users/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/cart/*"
  to = "/.netlify/functions/:splat"
  status = 200
